
<h2 mat-dialog-title>{{dialogdata ? 'Update': 'Add'}} Service Request</h2>
<form [formGroup]="requestData" (ngSubmit)="addticketrequest()">
<mat-dialog-content>    
        <div class="row">
            <mat-form-field appearance="fill">
                <mat-label>Subject</mat-label>
                <input matInput formControlName='subject'>
                <mat-error *ngIf="requestData.controls['subject'].hasError('required')">Subject is Required</mat-error>
              </mat-form-field>     
        </div>    
        <div class="row">
            <mat-form-field appearance="fill">
                <mat-label>Ticket description</mat-label>
                <textarea rows="5" matInput formControlName='description'></textarea>
                <mat-error *ngIf="requestData.controls['description'].hasError('required')">Description is Required</mat-error>                
              </mat-form-field>
        </div>        
        <div class="row">
            <mat-form-field appearance="fill">
                <mat-label>Assign a Technician</mat-label>
                <mat-select [(ngModel)]="selectedTechnician" name="technicianList" formControlName='technicianID'>
                  <mat-option [value]="">
                    Select a Technician
                  </mat-option>
                  <mat-option *ngFor="let techs of technicianList" [value]="techs.id">{{techs.name}}</mat-option>
                </mat-select>
              </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="fill">
                <mat-label>Assign a machine</mat-label>
                <mat-select [(ngModel)]="selectMachine" name="machineList" formControlName='machineID'>
                  <mat-option [value]="">
                    Select a Machine
                  </mat-option>
                  <mat-option *ngFor="let machine of machineList" [value]="machine.id">{{machine.name}}</mat-option>
                </mat-select>
              </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field appearance="fill">
                <mat-label>Priority Level</mat-label>
                <mat-select [(ngModel)]="selectedPriority" name="priorityList" formControlName='priorityID'>
                  <mat-option [value]="">
                    Select a priority
                  </mat-option>
                  <mat-option *ngFor="let priority of priorities" [value]="priority.id">{{priority.description}}</mat-option>
                </mat-select>
              </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="fill">
                <mat-label>Request Type</mat-label>
                <mat-select [(ngModel)]="selectedRequestTypes" name="requestTypeList" formControlName='serviceTypeID'>
                  <mat-option [value]="">
                    Select a request type
                  </mat-option>
                  <mat-option *ngFor="let requestType of requestTypesList" [value]="requestType.id">{{requestType.description}}</mat-option>
                </mat-select>
              </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field [hidden]="isPosting" appearance="fill">
              <mat-label>Request Status</mat-label>
              <mat-select [(ngModel)]="selectedRequestStatus" name="requestStatusList" formControlName='serviceStatusID'>
                <mat-option [value]="">
                  Select a request status
                </mat-option>
                <mat-option *ngFor="let status of statusesList" [value]="status.id">{{status.description}}</mat-option>
              </mat-select>
            </mat-form-field>
      </div>
        
        <!-- <div class="row">
            <mat-form-field appearance="fill">
                <mat-label>Manufacturer</mat-label>
                <input matInput formControlName='manufacturer'>
                <div class="invalid-feedback" *ngIf="requestData.get('manufacturer')?.hasError('manufacturer')">
                    <sup>*</sup>Please enter manufacturer name
                  </div>                
              </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="fill">
                <mat-label>contract Type</mat-label>
                <input matInput formControlName='contractTypeID'>
                <div class="invalid-feedback" *ngIf="requestData.get('contractTypeID')?.hasError('contractTypeID')">
                    <sup>*</sup>Please select a contract type
                  </div>                
              </mat-form-field>
        </div> -->
        <div [hidden]="false" class="row">
            <mat-form-field appearance="fill">
                <mat-label>Due Date</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName='estimatedCompleteDate'>
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>              
        </div>
        <!-- <div class="row">
            <mat-form-field appearance="fill">
                <mat-label>Contract End Date</mat-label>
                    <input matInput [matDatepicker]="picker1" formControlName='contractEndDate'>
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>              
        </div> -->
        <div [hidden]="true" class="row">
            <mat-form-field appearance="fill">                
                <input matInput formControlName='requestedDate'>
              </mat-form-field>
        </div>
        <!-- <div [hidden]="true" class="row">
            <mat-form-field appearance="fill">              
                <input matInput formControlName='updatedTime'>
              </mat-form-field>
        </div> -->
</mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button [mat-dialog-close]="false" color="warn">Cancel</button>
        <button mat-button type="submit" cdkFocusInitial color="primary">{{dialogdata ? 'Update': 'Save'}}</button>
    </mat-dialog-actions>
</form>

