<h1>Machines</h1>
    <form [formGroup]="machineData">
        <div class="row">
            <div class="col col-10 col-md-5">                         
                  
                  <mat-form-field appearance="fill">
                    <mat-label>Select a branch</mat-label>
                    <mat-select [(ngModel)]="selectedBranch" name="branchList" formControlName='branchID'>
                      <mat-option [value]="">
                        Select a Branch
                      </mat-option>
                      <mat-option *ngFor="let branch of branchList" [value]="branch.branchID">{{branch.branchName}} - {{branch.companyName}}</mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
            <div class="col col-2 col-md-4">
              <button type="button" mat-raised-button color="primary" (click)="onSearch()" class="me-3 custombutton">          
                Get Machines
              </button>      
              
              <button type="button" mat-raised-button color="primary" (click)="addBranch()" class="me-3 custombutton">          
                <span class="material-symbols-outlined">add</span> Add a new Machine
              </button> 
            </div>
          </div> 
    </form>    

<div >
    <mat-card *ngFor="let machine of machines" class="example-card mb-3">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image">
            <img class="card-img-top rounded-circle custom_rounded profimg" src="../assets/Images/logo1.jpg" alt="Card image cap">
          </div>
          <mat-card-title>{{machine.name}}</mat-card-title>
          <mat-card-subtitle>{{machine.branchName}}</mat-card-subtitle>
        </mat-card-header>    
        <mat-card-content>
            <div class="row">
              <div class="col col-12 col-md-12">
                <span class="fw-bold me-2">Model :</span> <span class="me-3">{{machine.model}}</span> 
                <span class="fw-bold me-2">SKU ID :</span> <span class="me-3">{{machine.skuID}}</span> 
                <span class="fw-bold me-2">Manufacturer :</span> <span class="me-3">{{machine.manufacturer}}</span>
                <span class="fw-bold me-2">Contract Type :</span> <span class="me-3"> {{machine.contractType}}</span>
                <span class="fw-bold me-2">Created Date :</span> <span class="me-3"> {{machine.createdTime | date: 'dd/MM/yyyy'}}</span>
                <span class="fw-bold me-2">Installation Date :</span> <span class="me-3"> {{machine.installationDate | date: 'dd/MM/yyyy'}}</span>
                <span class="fw-bold me-2">Contract EndDate :</span> <span class="me-3"> {{machine.contractEndDate | date: 'dd/MM/yyyy'}}</span>
              </div>              
            </div>
          <p>
          
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-flat-button color="primary" class="me-3">View</button>
          <button mat-flat-button color="accent" (click)="editMachine(machine)" class="me-3">Update</button>
          <button mat-flat-button color="warn" (click)="deleteMachine(machine.id)">Delete</button>
        </mat-card-actions>      
      </mat-card>

</div>


