<h1>Admin Dashboard</h1>
<div class="row">
    <div class="col col-12 col-md-6 mb-4">
        <app-tickets-quick-view></app-tickets-quick-view>
    </div>
    <div class="col col-12 col-md-6 mb-4">
        <app-ticketsbycategory></app-ticketsbycategory>
    </div>
    <div class="col col-12 col-md-6 mb-4">
        <app-ticketsbystatus></app-ticketsbystatus>
    </div>
    <div class="col col-12 col-md-6 mb-4">
        <app-ticketsresponseviolationratio></app-ticketsresponseviolationratio>
    </div>    
</div>
