<mat-nav-list class="sidenav-list">   
    <a mat-list-item routerLink="/user"><span class="material-symbols-outlined me-1">event_note</span>Service Requests</a> 
    <a mat-list-item routerLink="/user/companies"><span class="material-symbols-outlined me-1">
      add_business
      </span> Companies</a> 
    <!-- <a mat-list-item routerLink="/admin/branches"><span class="material-symbols-outlined me-1">component_exchange</span>Branches</a> 
    <a mat-list-item routerLink="/admin/machines"><span class="material-symbols-outlined me-1">coffee_maker</span>Machines</a>      -->
</mat-nav-list>
