<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="clickMenu()">
      <span class="material-symbols-outlined">menu</span>
   </button>
   <span class="app-header">
   Bean Balance
    </span>
   <span class="example-spacer"></span>
   <div fxFlex fxLayoutAlign="flex-end center">
   <span style="font-size: 14px;margin-right:15px;" [hidden]="logoutbtnHide">Welcome back, {{userEmailId}}</span>
    <button [hidden]="logoutbtnHide" (click)="logout()" mat-mini-fab color="accent" class="example-icon">     
      <span class="material-symbols-outlined">
       logout
       </span> 
    </button>
   </div>
        
</mat-toolbar>
